page-interact {
  .gold-trophy{
    color: #fad330;
    padding-right: 10px;
  }
  .silver-trophy{
    color: #b2b2b2;
    padding-right: 10px;
  }
  .bronze-trophy{
    color: #ceb375;
    padding-right: 10px;
  }
  .heavy-text{
    font-size:14px;
    font-weight: 600;
  }
  .light-text-1{
    font-size: 14px;
    font-weight: 500;
    color: #bfbfbf;
  }
  .light-text-2{
    font-size: 14px;
    font-weight: 500;
    color: #a2a2a2;
  }
}
